h1{
    text-align: center;
}

body{
    background-color: gray;
    width: 500px;
    margin: 0 auto;
}

form{
    background-color: white;
}

table{
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}