body {
    /* Adding a backgound image and centering it */
    background-image: URL(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 0px 0px 60px rgb(255, 51, 255);
}

table.center {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}

table{
    background-color: rgb(217, 217, 217, 0.90);
    border-style: solid;
    box-shadow: 0px 0px 40px rgb(255, 51, 255);
    border-radius: 10px;

    width: 800px;
    margin: 0 auto;
    padding: 1% 10%;

    text-align: left;
}

th{
    text-align: center;
}

.money{
    text-align: right;
}

.buttonCell{
    padding-left: 10px;
}

input{
    text-align: center;
}

#number {
    width: 5px;
}