h1{
    text-align: center;
}

body{
    background-color:#669999;
    width: 900px;
    margin: 0 auto;
  }

div{
    padding: 10px;
}

div:hover{
    font-weight: bold;
}

button{
    margin: 0 auto;
}

.first{
    background-color: aqua;
    font-size: 1cm;
}

.second{
    background-color:forestgreen;
    font-size: 20px;
}

.third{
    background-color: pink;
    font-size: 25px;
}