h1{
    color: whitesmoke;
    text-align: center;
    margin: 0;
    padding: 25px 0px;
}

h2{
    padding: 1px auto;
    margin: 1px auto;
}

body{
    background-color:black;
    width: 900px;
    margin: 0 auto;
}

.background{
    background-color: white;
    margin: 0 auto;
    position: relative;
}

.background:before,
.background:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #702094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.background:after{
    filter:blur(10px);
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
    
}

table{
    margin: 0 auto;
}

td{
    text-align: center;
    padding: 1px 7px;
}

form{
    text-align: center;
    margin: 10px auto;
}

.valid{
    color: #00e600;
}

.invalid{
    color: red;
}