h1{
    color: whitesmoke;
    text-align: center;
    margin: 0;
    padding: 25px 0px;
}

body{
    background-color:black;
    width: 900px;
    margin: 0 auto;
}

.background{
    background-color: white;
    margin: 0 auto;
    position: relative;
}

.background:before{
    content: '';
    position: absolute;
    top: -2;
    left: -2;
    background: linear-gradient(45deg, #702094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    z-index: -1;
}

table{
    margin: 0 auto;
}

td{
    text-align: center;
    padding: 1px 7px;
}

.valid{
    color: #00e600;
}

.invalid{
    color: red;
}